html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container {
  flex: 1;
}

footer {
  margin-top: auto;
}

.square:hover {
  background-color: var(--trail-color);
}
.square {
  background-color: rgb(255, 255, 255);
  border: none;
  user-select: none; /* prevent selection on click */
}

.container {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.1px solid black;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5), 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

.trail {
  background-color: var(--trail-color);
}

.hover {
  background-color: var(--trail-color);
  opacity: 1;
  border: none;
}
